/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 105%;
}

:root{
  --orange: rgb(199,100,25);
  --green: rgb(18,31,25);
  --white: rgb(255, 255, 255);
  --light: rgba(255, 255, 255, 0.393);
  --lightOrange: rgb(188, 133, 90);
}
body{
  background-color: var(--green);
  color: var(--orange);
  font-family: "Sorts Mill Goudy" , Arial, Helvetica, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 , h2, #recipeNum, #instruct{
  text-align: center;
}
h1{
  font-family: 'Italianno', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: lighter;
}
h2{
  font-family: 'Italianno', Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
#getDrinkContainer{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Italianno';
  font-size: 1.5rem;
}
input{
  text-align: center;
  width: 200px;
  font-weight: 900;
}
#search{
  width: 200px;
  font-weight: bolder;
}
#backward , #forward{
  width: 98px;
  margin: 0;
  font-weight: bolder;
}
button:hover{
  background-color: var(--light);
  border: 1px solid var(--orange);
  border-radius: 5px;
}
button:active{
  background-color: var(--lightOrange);
}
img{
  /* border: 1px solid red; */
  display: block;
  margin: 0 auto;
  height: 200px;
}
#ingMeas{
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#forward, #backward{
  display: none;
}
#ingredient{
  list-style:decimal;
  color: var(--white)
}
#measurements{
  text-align: left;
  list-style: none;
  color: var(--white)
}
#glass{
  color: var(--white);
}
#instruct{
  /* border: 1px solid green; */
  width: 60%;
  margin: auto;
  margin-top: 1vh;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
